* {
  border: 1px solid lightgrey;
  color: rgb(246, 189, 79);
}

body {
  background-color: rgb(43, 40, 91);
}

header {
  text-align: center;
}
#row {
  background-color: inherit;
  border: 1px solid white;
}

#box {
  background-color: darkgrey;
  border: 1px solid orange;
  width: 100px;
  height: 100px;
  display: inline-block;
}

#main-container {
  display: flex;
  justify-content: center;
}

#aside {
  max-width: 225px;
  margin: 0 20px 0 20px;
  text-align: center;
}

#game-container {
  min-width: 640px;
  margin-left: 20px;
}
