/*-------General -------*/
body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
}

h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 70px;
  margin: 0;
  color: rgb(210, 178, 38);
}

h2 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 55px;
  margin: 0;
  color: rgb(210, 178, 38);
}

p {
  font-family: 'Encode Sans', cursive;
  font-size: 18px;
  color: rgb(210, 178, 38);
}

#main-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  min-height: 700px;
}


 /*------ Header ------*/
header {
  text-align: center;
  background-color: black;
}
.logo {
  width: 350px;
  padding-top: 5px;
}


/*------Game board ----- */
#game-container {
  min-width: 640px;
  margin-left: 20px;
  background-color: rgba(87, 87, 88, 1);
  background-image: url('https://imagesvc.timeincapp.com/v3/fan/image?url=https%3A%2F%2Fwizardsandwhatnot.com%2Ffiles%2F2016%2F05%2FHogwarts_Post-Battle.jpg&c=sc&w=850&h=560');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 2px 8px black;
  max-height: 632px;
}

.box {
  border: 1px solid orange;
  width: 100px;
  height: 100px;
  display: inline-block;
}

#row {
  background-color: inherit;
}


/*----- Aside ----*/
#aside {
  max-width: 300px;
  height: 605px;
  margin: 0 20px 0 20px;
  text-align: center;
  background-color: rgb(19, 10, 54);
  padding: 15px;
  border-radius: 3%;
  box-shadow: 1px 2px 8px black;
}
.dE {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.oop {
  display: flex;
  align-items: center;
  padding-bottom: 10px;

}

#orderPic {
  padding-left: 10px;
  border-radius: 25%;
  max-width: 100px;
  max-height: 100px;
}

#eaterPic {
  padding-right: 10px;
  border-radius: 25%;
  max-width: 100px;
  max-height: 100px;
}
hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: gold;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: gold;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/*---- Button -----*/
button {
  background-color: inherit;
  font-size: 15px;
  color: gold;
  border-radius: 5%;
  border: 1px solid gold;
  margin-top: 20px;
  padding: 7px 10px 7px 10px;
  font-family: 'Encode Sans', cursive;
  box-shadow: 1px 2px 8px gold;
}

button:hover {
  background-color: gold;
  color: rgb(19, 10, 54);
}

/*---- Footer -----*/
.footer {
  background-color: black;
  /* height: 20px; */
  text-align: center;
  position:fixed;bottom:0;left:0;right:0;height:30px;
}

#footer {
  font-size: 12px;
}


/*----- Modal -----*/
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-textbox {
  background-color: rgb(19, 10, 54);
  height: 250px;
  width: 350px;
  border: 1px solid gold;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 5px rgba(255, 255, 255,);
  text-align: center;
}

#closeBtn {
  color: gold;
  font-size: 12px;
  border: 1px solid gold;
  padding: 4px;
  border-radius: 2px;
  box-shadow: 1px 2px 3px gold;
}
